<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="../static/css/empty.css" rel="stylesheet">

    <title>RU Req Finder</title>

    <script src="http://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>   
    <script src="../static/js/ie-emulation-modes-warning.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-48447153-3', 'auto');
      ga('send', 'pageview');
    
    </script>

  </head>

  <body>
    <a href="https://github.com/kaitcov/reqFinder"><img alt="Fork me on GitHub" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" style="position: absolute; top: 0; right: 0; border: 0;"></a>

    <div class="container">

    <a href="/">
    <header class="subhead">
        <h1 id="titleHeader">
            <span class="red"> RU </span> Req Finder
        </h1>
    </header>
    </a>

      <div class="jumbotron">
          {% block content %}{% endblock %}
      </div>
      <footer>
          Questions or feedback? Send us an email at <a href="mailto: kaitlincov@gmail.com">kaitlincov@gmail.com</a>.<br>
          RU Req Finder created by <a href="https://www.github.com/kaitcov">Kaitlin Coventry-Cox</a>.
      </footer>
              

    </div> <!-- /container -->


  </body>
  <script type="text/javascript" src="../static/js/empty.js"></script>
</html>
